
html {
    height: auto;
    margin: 0;
    background: #F5F5F5;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

::selection {
    color: white;
    background: var(--colc);
}

::-moz-selection {
    color: white;
    background: var(--colc);
}

a {
    color: #1565C0;
    cursor: pointer;
}

b {
    font-weight: bold;
}

#panel {
    width: 320px;
    text-align: center
}

.stroke {
    stroke: var(--colb);
}

.head {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 20px 0 14px 0;
    align-items: center;
}

.prebar {
    text-align: left;
}

.bar {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    vertical-align: middle
}

.postbar {
    text-align: right;
}

.postbar span {
    cursor: pointer
}

.tail {
    position: static;
    transform: none;
}

.throbber {
    margin: auto;
}

.component {
    background: white;
    border: 1px solid var(--cold);
    max-height: 300px;
    overflow: auto;
    scrollbar-width: thin;
}

#cork {
    padding: 20px;
    text-align: left;
}

#dir {
    padding: 18px 0
}

#directory {
    width: 100%;
    border-collapse: collapse;
}

#directory td {
    text-align: left;
}

#directory tr {
    height: 21px;
}

#directory tr:hover:not(.current, .non) {
    background: #F9F9F9;
}

#directory tr: {
    background: #F5F5F5;
}

.current td {
    font-weight: bold;
    padding: 0 20px 10px 20px;
}

.folder {
    cursor: pointer;
}

.ico, .size {
    width: 1px;
    white-space: nowrap;
}

.ico {
    padding-left: 20px
}

.value {
    width: auto;
    padding: 0 6px;
}

.size {
    text-align: right !important; 
    padding-right: 20px;
}

#viewer-chamber {
    display: none;
}

#view {
    padding: 20px;
    text-align: left;
}

pre:has(#viewer) {
    margin: 0;
}

#viewer-current {
    font-weight: bold;
}

#viewer {
    padding: 0;
    padding-top: 12px;
    background: none;
    font-size: 12px;
    overflow: visible;
}