@keyframes throbberSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes footLoad {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); }
}
@keyframes abdomenLoad {
    0% { left: 0 }
    100% { left: 50% }
}
@keyframes writeStroke {
    to {
        stroke-dashoffset: 0;
    }
}


:root {
    --unit: 160px;
    --cola: rgb(24, 28, 20);
    --colb: rgb(60, 61, 55);
    --colc: rgb(106, 117, 101);
    --cold: rgb(236, 223, 204);
}

a {
    all: unset;
}
html {
    background-color: var(--cold);
}
body {
    height: 100%;
    margin: 0;
    
    overflow: hidden;
    cursor: default;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    color: var(--cola);
    
    font-family: 'Metropolis', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.3px;
}

#throbber {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;

    transform: translate(-50%, -50%);
    animation: throbberSpin 1s linear infinite;
    
    border-top: 4px solid var(--cola);
    border-radius: 50%;
}

#trunk {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(2 * var(--unit));

    transform: translate(-50%, -50%);
}
#thorax {
    position: relative;
    display: flex;
    width: 50%;
    min-height: var(--unit);
    max-height: var(--unit);
    
    transition: width 0.5s ease-out, max-height 0.3s ease-out;

    overflow: hidden;
    justify-content: center;
    align-items: center;
    
    background-color: var(--cola);
    color: var(--colc);
}
#abdomen {
    position: absolute;
    display: flex;
    width: 50%;
    height: 100%;
    
    overflow: hidden;
    animation: 0.5s ease-out 0.5s abdomenLoad forwards;

    justify-content: center;
    align-items: center;
}

#stamp {
    height: calc(var(--unit) / 2.8);
    transition: 0.4s ease-out;
}
.stroke { 
    stroke: var(--colc);
    stroke-width: 21;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
#stroke-syed-main {
    stroke-dasharray: 379;
    stroke-dashoffset: 379;
    animation: writeStroke 0.9s ease-in forwards 0.2s;
}
#stroke-syed-dash {
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
    animation: writeStroke 0.15s ease-in forwards 1.7s;
}
#stroke-ali {
    stroke-dasharray: 1320;
    stroke-dashoffset: 1320;
    animation: writeStroke 1.6s ease-in forwards 0.2s;
}
#stroke-raza-pre {
    stroke-dasharray: 109;
    stroke-dashoffset: 109;
    animation: writeStroke 0.25s ease-in forwards 0.2s;
}
#stroke-raza-post {
    stroke-dasharray: 388;
    stroke-dashoffset: 388;
    animation: writeStroke 0.65s ease-in forwards 0.45s;
}
#stroke-raza-dash {
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: writeStroke 0.09s ease-in forwards 1.7s;
}

#menu {
    width: 100%;
    pointer-events: none;
    font-size: 20px;
}
#menu:hover .item:not(:hover) {
    opacity: 0.4;
}
.item {
    padding: 6px 0 6px 17px;
    pointer-events: auto;
    transition: 0.3s;
    line-height: 0.8;
}
.item:hover {
    padding-left: 24px;
}

#heart {
    display: none;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-out;
}
#atrium {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 20%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}
#ventricle {
    position: relative;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    display: flex;
    
    align-items: center;
}
#back {
    padding: 10px;
    transition: 0.3s ease-out;
    font-size: 24px;
}
#back:hover {
    transform: translateX(-4px);
}
#valve {
    padding: 13%;
    padding-left: 0;
    text-align: justify;
    font-weight: 300;
    line-height: 1.2;
}
#valve p {
    margin: 10px 0 10px 0;
}
#valve b {
    font-weight: 600;
}
#valve a {
    transition: 0.2s;
    text-decoration: underline;
}
#valve a:hover {
    opacity: 0.7;
}
#valve > :first-child {
    margin-top: 0;
}
#valve > :last-child {
    margin-bottom: 0;
}

#foot {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;

    animation: 0.5s ease-out 0.5s footLoad forwards;
}
#tarsus {
    padding-bottom: 6px;
    text-align: center;
    font-size: 16px;
}
#tarsus > a {
    transition: 0.2s;
}
#tarsus a:first-child:hover {
    color: #1877F2
}
#tarsus a:nth-child(2):hover {
    color: #D62976
}
#tarsus a:last-child:hover {
    color: #08872B
}
#phalanx {
    text-align: center;
}
#phalanx a {
    transition: 0.2s;
}
#phalanx a:hover {
    color: var(--colc);
}

.icon {
    display: inline-block;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
}
.left:before {
    content: "\f053";
}
.facebook:before {
    content: "\f082";
}
.instagram:before {
    content: "\f16d";
}
.github:before {
    content: "\f092";
}

@media only screen and (max-width: 340px) {
    :root {
        --unit: 140px;
    }
    body {
        font-size: 13px;
    }
    #menu {
        font-size: 18px;
    }
    .item {
        padding: 6px 0 6px 14px;
    }
    #val
}